plugins:
- name: vyper
- name: solidity

dependencies:
  - name: OpenZeppelin
    github: OpenZeppelin/openzeppelin-contracts
    version: 4.7.3

solidity:
  import_remapping:
    - "@OpenZeppelin=OpenZeppelin/4.7.3"

test:
  gas:
    exclude:
      - contract: Token
      - method_name: DEBUG_*
